/* //made by shivam singh */
*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family:"Maison Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; 
}

.footer-contener{
    background-color:#212432;
    color:white;
    width:100%;
    height:500px;
    position:fixed;
    bottom: 0;
    margin-bottom: 40px;
    
}
.box2{
    display:flex;
    justify-content: space-evenly;
    width:800px;
    height:500px;
    line-height: 3em;
    font-size: 0.75rem;
}
.contener-one{
    margin-top:30px;
    display:flex;
    justify-content:space-between;
}
a{
    font-size: 11px;
    text-align: center;
    color: #a7aabb;
    letter-spacing: 0.05em;
}
.line{
    border: 0.5px solid white;
    width:100%;
    color:white;
}
.contener-two{
    color:white;
    width:100%;
    height:100px
}